.body {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    width: 100%;
}

/* NAVIGATION BAR */
.nav-bar{
    margin-left: 153px;
    margin-top: 51px;
    display: flex;
    
}
.logo-and-name{
    display: flex;
    text-decoration: none;
}
.title {
    margin-top: 1.5px;
    margin-left: 8px;
    
}
.title-text:first-child {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}
.title-text:last-child{
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;   
    text-transform: uppercase;
}

.email-and-number {
    margin-left: 670px;
    width: 300px;
    line-height: 35px;
}
.email-text {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    text-decoration: none;
}
.phone-number {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    margin-top: 19px;
    margin-left: 73px;
    text-decoration: none;
}
/* NAVIGATION HOVERS */
.logo-and-name:hover .title-text,
.logo-and-name:hover .logo-container img {
    color: #F26522;
    cursor: pointer;
}
.hover-logo {
    display: none;
}
.logo-and-name:hover .hover-logo {
    display: inline;
}
.logo-and-name:hover .logo {
    display: none;
}
.email-text:hover{
    color: #F26522;
}
.phone-number:hover{
    color: #F26522;
    
}
/* MAIN CONTAINER */
/* GRID SETTINGS */
.grid-containers {
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
    margin-top: 2px;
    margin-left: 153px;
}   
.shopping-container { 
    grid-area: 1 / 1 / 2 / 2; 
    background-image: url(./img/shopping.png);
    background-repeat: no-repeat;}
.sightseeing-container {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(./img/sight.png);
    background-repeat: no-repeat;
}
.food-container { 
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(./img/food.png);
    background-repeat: no-repeat
}
.bars-container { 
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(./img/night.png);
    background-repeat: no-repeat;
}
.art-container { 
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(./img/art.png);
    background-repeat: no-repeat;
 }
.walking-container { 
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(./img/walk.png);
    background-repeat: no-repeat;
 }
/* MAIN DECORATION */
.hover-container {
    background-color: #F26522;
    width: 300px;
    height: 55px;
    margin-top: 165px;
    margin-left: 2px;  
}
.from-text {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 
    padding-top: 7px;
    padding-left: 16px; 
}
.price-and-details {
    display: flex;
}
.price-text {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding-left: 16px;
    padding-top: 8px;
}
.details-text {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
    padding-left: 128px;
    text-decoration: none;
    display: flex;
}
.grid-container-title {
    color: #FFF;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    
}
section {
    position: relative;
  }
  
  .grid-container-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

/* MAIN HOVERS */
.details-text::after {
    content: '';
    display: block;
    width:7px;
    height: 12px; 
    background-image: url(./img/arrow.png);
    margin-top: 1px;
    margin-left: 16px;
}
.from-text {
    display: none;
}
.hover-container{
    display: none;
}
.shopping-container:hover .hover-container, .sightseeing-container:hover .hover-container,.food-container:hover .hover-container, .bars-container:hover .hover-container, .art-container:hover .hover-container, .walking-container:hover .hover-container{
    display: block;
   
}
.shopping-container:hover .from-text, .sightseeing-container:hover .from-text,.food-container:hover .from-text, .bars-container:hover .from-text, .art-container:hover .from-text, .walking-container:hover .from-text{
    display: inline;
}
.grid-container-title:hover{
    color: #F26522;
    cursor: pointer;
}


/* FOOTER */
.footer {
    margin-top:49px;
    margin-left: 521px;
}
.footer-text {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;  }

/* EXTRA TASK - UNCOMENT TO MAKE IT WORK */
/* .hover-container {
    opacity: 0.1;
    position: relative; 
    top: 0; 
    margin-top:195px;
}
.hover-container:hover {
    opacity: 1;
    top: -20px;
    transition: 1s;
} */
