*{
    padding: 0;
    margin: 0;
}
.table-large {
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #3A4965;
}
.choose-cell {
    width: 313.5px;
    height: 162.5px;
    border: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
}
.choose-your-block {
    color: #484848;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
.pricing-plan-block {
    color: #484848;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.standard-plan {
    width: 284px;
    height: 73px; 
    background-color: #89C331;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ultimate-plan {
    width: 284.5px;
    height: 73px; 
    background-color: #F04A56;
    display: flex;
    align-items: center;
    justify-content: center;
}
.premium-plan {
    width: 285px;
    height: 73px; 
    background-color: #20807C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.standard-text {
  color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;  
}
.ultimate-text {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.premium-text {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-transform: uppercase;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 89px;
    background-color: #FAFAFA;
    border: 1px solid #cacaca;
}
.big-price {
   color: #484848;
    font-family: Arimo, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase; 
}
.small-price {
    color: #484848;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-transform: uppercase;
    margin-left: -75px;
}
.per-month-text {
    color: #484848;
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    text-transform: uppercase;
    margin-left: 7px;
}
.small-and-month {
    margin-bottom: 35px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}
.storage-main-container, .email-main-container, .products-main-container{
    width: 313px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border:1px solid #cacaca;
}
.plan-article {
    color: #484848;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}
.storage-container, .email-container, .products-container {
    width: 280px;
    height: 72px;
    background-color: #F2F2F2;
    border: 1px solid #cacaca;
    
}
.table-text {
    color: #484848;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    text-transform: uppercase;
    display: flex;
    justify-content: center;
   align-items: center;
}
.img-article {
    margin-bottom: 5px;
    margin-right: 4px;
}
.bandwidth-main-container, .support-main-container, .users-main-container{
    width: 313px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3E3E3;
    border:1px solid #cacaca;
}
.bandwidth-limited-container {
    width: 556px;
    height: 72px;
    background-color: #E3E3E3;
    border:1px solid #cacaca;
}
.bandwidth-container, .support-container, .users-container {
    border:1px solid #cacaca;
    background-color: #E3E3E3;
}
.contact-us-container {
    width: 313px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3E3E3;
    border: 1px solid #cacaca;
}
.contact-btn {
    color: #FFF;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    background-color: #484848;;
    height: 54px;
    border-radius: 5px;
    border: none;
    position: relative;
}
.buy-now-container {
    width: 277px;
    height: 89px;
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #cacaca;
}

.buy-now-green-btn {
    color: #FFF;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    background-color: #89C331;;
    height: 54px;
    border-radius: 5px; 
    border: none;  
    position: relative;
}
.buy-now-red-btn {
    color: #FFF;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    background-color: #F04A56;;
    height: 54px;
    border-radius: 5px; 
    border: none;  
    position: relative;
}
.buy-now-blue-btn {
    color: #FFF;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    width: 195px;
    background-color: #20807C;;
    height: 54px;
    border-radius: 5px; 
    border: none;  
    position: relative;
}


.buy-now-blue-btn::after{
    content: '';
    display: inline-block;
    background-color: #16736F;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    left: 0;
}
.contact-btn::after {
    content: '';
    display: inline-block;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    left: 0;
}
.buy-now-green-btn::after {
    content: '';
    display: inline-block;
    background-color: #79B027;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    left: 0;
}
.buy-now-red-btn::after {
    content: '';
    display: inline-block;
    background-color: #DF3A46;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    left: 0;
}

.table-medium {
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #3A4965;
    margin-top: 20px;
    position: relative;
}
.choose-cell-medium {
    width: 201.5px;
    height: 115px;
    border: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
}
.choose-your-block-medium{
    color: #484848;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; 
    text-transform: uppercase;
}
.pricing-plan-block-medium {
    color: #484848;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    text-transform: uppercase;
}
.storage-main-container-medium, .email-main-container-medium, .products-main-container-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160.5px;
    height: 115px;
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
}
.bandwidth-main-container-medium, .support-main-container-medium, .users-main-container-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 115px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.standard-plan-medium {
    width: 204px;
    height: 165px;
    background-color: #89C331;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.standard-text-medium {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.flex-box-gray {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 162.5px;
    height: 164px;
    background-color: #E3E3E3;
    border-bottom: 1px solid #cacaca;
}
.flex-box-white {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 162.5px;
    height: 164px;
    background-color:#F2F2F2;
    border-bottom: 1px solid #cacaca;
}
.big-price-medium {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    text-transform: uppercase;
}
.small-price-medium {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
    text-transform: uppercase;
}
.per-month-text-medium {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 11px;
}
.buy-now-black-btn-medium {
    color: #FFF;
    text-align: center;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    width: 147px;
    height: 44px;
    background-color: #484848;;
    border-radius: 5px;
    border: none;
    position: relative;
    margin-top: 11px;
}
.buy-now-black-btn-medium::after {
    content: '';
    display: inline-block;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    left: 0;
}
.ultimate-plan-medium {
    width: 204px;
    height: 165px;
    background-color: #F04A56;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-box-medium {
    display: flex;
    margin-top:13px ;
}
.premium-plan-medium {
    width: 204px;
    height: 165px;
    background-color: #20807C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.table-medium:nth-child(3) {
    margin-top: -10px;
    border: 19px solid #3A4965;
}
