
ul li {
    display: inline;
}
ul.buttons {
color:red;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 2.8px;
text-align: center;
text-transform: uppercase;
}
a.home-btn{
    width: 68px;
    height: 27px;
    margin-right: 65px; 
    color: red;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-align: center;  
    
}
li.photoapp-btn {
    width: 131px;
    height: 27px;
    margin-right: 65px;
}
li.design-btn {
    width: 140px;
    height: 27px;
    margin-right: 65px;
}
img.img {
    width: 1280px;
    height: 789px; 
    display: block;
    margin: 0 auto;
}
h2.headline {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    margin-top: 48px;
    color: #373737;
}
p.text-lorem {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    margin-top: 38px;
    color:#373737;
}
p.text-vesti {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    margin-top: 28px;
    color:#373737;
}
a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    color: white;
    text-decoration: none;
     
}
button.bottom-button{
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background-color: red;
    border: solid white;
    margin-left: 545px;
    margin-top: 66px;
    display: block;
    margin: 0 auto;
}
div.copyright-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 2.7px;
    text-align: right;
    color: #373737;
    margin-top: 68px; 
}