body, html{
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
    font-size: 35px;
    line-height: 250px;
	color: rgb(255, 234, 50);
	background-color: #000;
    background-image: url(./img/space-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.title, .subtitle {
    text-align: center;
    margin-top: 110px;
}

.animation{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(20deg);
}

.moving-text {
    position: absolute;
	top: 100%;
	animation: moving-text 30s linear 0s infinite;
    
}
.audio {
    display: none;
}
@keyframes moving-text {
	0% { top: 100%; }
	100% { top: -170%; }
}