body { 
    background: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* NAVIGATION BAR - HEADER */
.nav-bar {
    background: rgba(0, 0, 0, 0.4);
    width: 100%; 
    height: 58px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 30px; 
}
.logo-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-left: 79px;
}
.header-icons {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}
.calendar-icon {
    width: 21px;
    height: 24px;
    color: white; 
    margin-right: 27px;
  }
  .email-icon {
    width: 23px;
    height: 23px;
    color: white;
    margin-right: 24px; 
  }
  .safari-icon {
    width: 23px;
    height: 24px;
    color: white; 
    margin-right: 25px;
  }
  .nav-line {
    border-right: 1px solid rgba(255, 255, 255, 0.90);
    opacity: 0.5;
  }
  

.subtitle-nav {
    display: flex;
}
.subtitle-hover, .subtitle-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: white;
    margin-right: 4px;
}
.subtitle-hover:last-child{
    margin-right: 79px;
}

/* NAV HOVERS */
.logo-title:hover {
    color: #236d47;
    cursor: pointer;
}
.subtitle-hover:hover {
    color: #236d47;
    cursor:pointer;
}
.calendar-icon:hover {
    color: #236d47; 
}
.email-icon:hover {
    color: #236d47; 
  }
  .safari-icon:hover {
    color: #236d47; 
  }
 
/* MAIN */
.signup-container {
    width: 444px;
    height: 595px;
    background-color: white;
    margin: 112px auto; 
    box-sizing: border-box;
}
.sign-and-login {
    display: flex;
}
.signup-main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 31px;
    margin-left: 61px;
    position: relative;
    color: rgba(67, 67, 67, 1);

}
.login-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 39px;
    margin-left: 214px;
    color: rgba(60, 184, 120, 1);
}
.social-btns{
    display: flex;
}
.facebook-btn, .google-btn {
    display: flex;
    margin-top: 10px;
}
.facebook-btn {
    width: 160px;
    height: 48px;
    background-color: rgba(48, 93, 184, 1);
    border: transparent;
    margin-right: 6px;
    border-radius: 4px;
    margin-left: 60px;
}
.facebook-logo{
    margin-top: 12px;
    margin-left: 11px;
}
.google-logo{
    margin-top: 15px;
    margin-left: 12px;
}
.facebook-text, .google-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    margin-top: 17px;
    margin-left: 27px;
}
.google-btn {
    width: 160px;
    height: 48px;
    background-color: rgba(223, 74, 50, 1);
    border: transparent;
    border-radius: 4px;
}
.facebook-line {
    border-left: 1px solid #2c56aa;
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .google-line {
    border-left: 1px solid #cd442e;
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .or-container {
    display: flex;
    margin-left: 60px;

  }
  .or-text {
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(132, 132, 132, 1);
    text-align: center;
    position: relative;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
  .fname-form, .lname-form, .email-form, .pswrd-form, .pswrd-cnfrm-form {
    width: 320px;
    height: 44px;
    margin-left: 60px;
    border-radius: 4px;
    margin-bottom: 16px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    
  }
  .lname-form::placeholder, .fname-form::placeholder, .email-form::placeholder, .pswrd-cnfrm-form::placeholder, .pswrd-form::placeholder {
    color: #BEBEBE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
  }
  .terms-and-conditions {
    display: flex;
    margin-left: 60px;
  }

  .agree-text {
    color: #434343;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
    margin-top: 5px;
  }
  .terms-hover {
    color: #3CB878;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 4px;
    text-decoration: none;
    margin-top: 5px;
  }
  .terms-hover:hover {
    text-decoration: underline;
    color: #01813F;
  }
  .create-btn {
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    width: 325px;
    height: 46px;
    border: transparent;
    color: white;
    margin-left: 60px;
    margin-top: 10px;
  }
  .create-btn:hover {
    cursor: pointer;
    background-color: #01813F;
  }
 
  /* MAIN HOVERS */
.login-text:hover {
    text-decoration: underline;
    cursor: pointer;}
.facebook-btn:hover{background-color:rgba(2, 34, 99, 1);}
.google-btn:hover {background-color: rgba(171, 31, 9, 1);}
.signup-main::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    position: absolute;
    top: 50%;
    left: -61px;
    transform: translateY(-50%);
}
.or-text::before, .or-text::after {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: #000;
}
  .or-text::before {
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    background-color: rgba(242, 242, 242, 1);
}
  .or-text::after {
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    background-color: rgba(242, 242, 242, 1);
}
  .form input:focus {
    border-color: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

/* CHECKBOX ARROW VECTOR */
.terms-and-conditions {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-left: 56px;
  }

 .terms-and-conditions > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  }
  .terms-and-conditions > input:checked {
  border: 1px solid #000000;
  background-image: url(./img/vector.png);
  background-repeat: no-repeat;
  }
  .terms-and-conditions > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 4px;
  top: -1px;
  }
  .terms-and-conditions > input:checked + span::before:focus {
  outline: none;
  }
.pswrd-cnfrm-form {
  margin-bottom: 10px;
}
.mentor:hover {
fill: white;
}