* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-image: url(./img/bkg-top.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    background-attachment: fixed;
}
.nav-bar {
    height: 113px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    top: 30px;
    position: relative;
}
.company-name {
    display: flex;
    margin-top: 40px;
    margin-left: 202px;
}
.company-title {
    color: #424F57;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; 
}
.name-title {
    color: #14AFCA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
}
.nav-blocks {
    display: flex;
    margin-left: auto;
    margin-right: 174px;
    margin-top: 57px;
}
.nav-block {
    color: #3E4C4E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.75px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;
}
.nav-block:hover {
    color: #14AFCA;
}
.company-slogan {
    color: white  ;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    top: 300px;
    position: relative;
}
.what-title {
    color: #14AFCA;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}
.what-subtitle {
    color: #424F57;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align:center;
    margin-top: 30px;
}
.what-text {
    color: #424F57;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.companies-container {
    background-image: url(./img/mkg-mid.png);
    background-size: cover; 
    background-position: center center; 
    height: 400px;
    background-attachment: fixed;
}


.companies-title {
    color: #14AFCA;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.companies-subtitle {
    color: #FFF;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    letter-spacing: 0.9px;
   
}
.adobe-img {
    width: 225px;
    height: 99px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companies-row-one,
.companies-row-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  
}
.companies-row-one img, .companies-row-two img {
    margin-left: auto;
    margin-right: auto;
}
.meet-us-title {
    color: #14AFCA;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    text-transform: uppercase;
    margin-top: 160px;
}
.meet-us-text {
    color: #424F57;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    margin-top: 20px;
}

.worker-profiles {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    justify-content: space-between;
}
.worker-text {
    color: #424F57;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
}
.worker-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials-container {
    background-image: url(./img/bkg-bot.png);
    background-size: cover; 
    background-position: center center; 
    height: 800px;
    position: relative;
    margin-top: 100px;
    background-attachment: fixed;
}
.testimonials-title, .why-title {
    color: #14AFCA;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 230px;
}
.testimonials-subtitle{
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    padding-top: 10px;
}
.testimonials-text {
    color: #D3CCCC;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.8px;
    padding-top: 70px;
}
.shoaib-signature {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.45px;
    margin-left: 60%;
    margin-top: 20px;
}
.why-subtitle {
    color: #424F57;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    margin-top: 15px;
}
.why-equation {
    color: #424F57;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: 0.75px;
    margin-top: 30px;
}
footer {
    margin-top: 100px;
    margin-bottom: 100px;
}
.copyright-text {
    display: flex;
    justify-content: center;
    margin-right: 4px;
    color: #3D3C3C;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.7px;
}
.iconic-text {
    color: #3D3C3C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
}


.nav-bar::before, .companies-container::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.parallax-section_1::before {
    background-image: url(./img/bkg-top.png);
}

.parallax-section_2::before {
    background-image: url(./img/mkg-mid.png);
}

.parallax-section_3::before {
    background-image: url(./img/bkg-bot.png);
}