.body { 
    width: 1920px;
    height: 4000px;
    color: white;
    background-color: #171717;
}
.header {
    margin-top: 37px;
    margin-left: 230px;
}
.header-container {
    display: flex;
}
.text-eid {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e2e2e2;
}
.text-ed {
    width: 100px;
    font-size: 30px;
    line-height: 30px;
    color: #e2e2e2;
    margin-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.phone-btn {
    margin-left: 1050px;
    border: 1px solid #E4B564;
    height: 25px;
    padding: 9px 5px 30px 12px;
    margin-top: 20px;
    background-color: #171717;
    
}
.phone-text {
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.title {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    margin-left: 242px;  
}
.subtitle {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    margin-left: 234px;
    width: 1000px;
    margin-top: 43px;
}
.grid-heat-container {
    display: grid;
    grid-template-columns: repeat(6, 212px);
    grid-template-rows: repeat(2, 468px);
    grid-column-gap: 34px;
    grid-row-gap: 27px;
    margin-left: 234px;
}
.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background: #634F2C;
}
.div1-text {
    padding-top: 205px;
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    justify-content: center;
    align-items: center;
}
.div2 {
    grid-area: 1 / 3 / 2 / 5; 
    background-color: #B4A385;
}
.div2-text {
    padding-top: 205px;
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 60px;
}
.div3 {
    grid-area: 1 / 5 / 2 / 7;;  
    background-color: #E4B564;
}
.div3-text {
    padding-top: 205px;
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 60px;
}
.div4 {
    grid-area: 2 / 1 / 3 / 4; 
    background-color: #635A4A;
}
.div4-text {
    padding-top: 205px;
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 60px;
}
.div5 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
    
}
.div5-text {
    padding-top: 205px;
    color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 60px;
}
.flex-park-container {
    display: grid;
    grid-template-columns: repeat(3, 463px);
    grid-template-rows: 255px 58px 126px 129px 305px;
    grid-column-gap: 30px;
    grid-row-gap: 24px;
    margin-left: 230px;
}
.div6 {
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid black;
    background-color: #0E0E0E;
    padding-top: 44px;
}
.div7 {
    grid-area: 1 / 2 / 4 / 3; 
    border: 1px solid black;
    background-color: #1F1F1F;
    padding-top: 44px;
}
.div8 {
    grid-area: 1 / 3 / 2 / 4;
    border: 1px solid black;
    background-color: #1F1F1F;
    padding-top: 44px;
}
.div9 {
    grid-area: 3 / 1 / 6 / 2;
    border: 1px solid black;
    background-color: #E4B564;
    padding-top: 44px;
}
.div11 {
    grid-area: 2 / 3 / 5 / 4; 
    border: 1px solid black;
    background-color: #1F1F1F;
    padding-top: 44px;
}
.div10 {
   grid-area: 4 / 2 / 6 / 3; 
   border: 1px solid black;
   background-color: #0E0E0E;
   
   padding-top: 44px;
}
.div12 {
    grid-area: 5 / 3 / 6 / 4; 
    border: 1px solid black;
    background-color: #0A0909;
    
    padding-top: 44px;
}
.div6-title{
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 10;
    line-height: normal;
    padding-left: 52px;
    padding-right: 150px;   
}
.div6-subtitle {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 52px;
}
.div7-title{
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 180px;
    padding-left: 52px;
    padding-right: 150px;
}
.div7-subtitle {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 52px;
}
.div8-text {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
}

.div9-text {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
}
.div11-text {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
}
.div10-text {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
}
.div12-text {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
}
.article {
    margin-top: 300px;
    background-color: #0E0E0E;
    padding-top: 172px;
}
.article-nav {
display: flex;
margin-left: 234px;
}
.article-title {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
}
.article-all-projects {
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    border: 1px solid #E4B564;
    height: 15px;
    padding: 10px 40px;
    margin-top: 52px;
    margin-left: 694px;
}
.grid-client-container {
    display: grid;
    grid-template-columns: repeat(3, 481px);
    grid-template-rows: repeat(2, 391px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;;
    margin-left: 234px;
}
.div13 {background-color: #634F2C;}
.div14 {background-color: #E8D2AB;}
.div15 {background-color: #E4B564;}
.div16 {background-color: #635A4A;}
.div17 {background-color: #B08C4D;}
.div18 {background-color: #634F2C;}
.div13-img{
    margin-left: 150px;
    margin-top: 170px;
}
.div14-circle {
    margin-left: 220px;
    margin-top: 50px;
}
.div14-set {
    margin-left:190px;
}
.div14-text {
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    width: 326px;
    margin-left: 90px;
}
.div15-img {
    margin-left: 190px;
    margin-top: 162px;
}
.div16-circle {
    margin-left: 220px;
    margin-top: 89px;
}
.div16-eid {
    margin-left: 150px;
}
.div17-set {
    margin-left: 190px;
    margin-top: 170px;
}
.div18-eid {
    margin-left: 150px;
    margin-top: 182px;
}